@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$cambridge-blue: hsla(111, 17%, 77%, 1);
$bone: hsla(39, 39%, 85%, 1);
$bright-yellow-crayola: hsla(38, 100%, 58%, 1);
$indian-red: hsla(0, 57%, 60%, 1);
$rich-black-fogra-29: hsla(207, 43%, 9%, 1);
