// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {

    background-color: $bone;

    // Card ordine
    .track-line {
        height: 2px !important;
        background-color: #4dafff;
        opacity: 1;
    }

    .dot {
        height: 10px;
        width: 10px;
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 0px;
        background-color: #4dafff;
        border-radius: 50%;
        display: inline-block;
    }

    .big-dot {
        height: 25px;
        width: 25px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        background-color: #4dafff;
        border-radius: 50%;
        display: inline-block;

        i {
        font-size: 12px;
        }
    }

    .card-stepper {
        z-index: 0;
        border-radius: 10px;
    }

    img#user-img-nav {
        width: 3rem;
        height: 3rem;
    }

    img#user-img-home {
        width: 10rem;
        height: 10rem;
    }

    ul.dropdown-menu{
        min-width: 5.5rem;
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .navbar-nav .dropdown-menu i{
        font-size: 1rem;
    }

    // div#background-home-admin{
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-position:bottom;
    //     background-image: url('https://static.vecteezy.com/ti/foto-gratuito/p2/2076692-tavolo-con-sfocato-ristorante-sfondo-gratuito-foto.jpg');
    // }
}


div#header-guest {
     
    background-image: url('https://www.revendex.com/static/www/res/images/page-header.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    
    a.logo {
        span {
            font-size: 2rem;
            color: $rich-black-fogra-29;
            font-family: $font-family-headings;

            &:hover {
                background-image: url('https://cdn.dribbble.com/users/1770290/screenshots/6238146/bg_87.gif');
                background-position: center;
                background-size: contain;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: 1px;
            }
        }
    }
}

.abril-fatface-font{
    font-family: $font-family-headings;
}

.bg-bone{
    background-color: $bone;
}
